<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <uses-permission android:name="android.permission.BLUETOOTH" android:maxSdkVersion="30" />
  <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" android:maxSdkVersion="30" />
  <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />
  <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
  <uses-feature android:name="android.hardware.bluetooth_le" android:required="false" />
  <uses-permission android:name="android.permission.NFC" />
  <uses-feature android:name="android.hardware.nfc.hce" android:required="false" />
  <application>
    <service android:name="app.mikaki.identity_proximity.IdentityEngagementService"
      android:exported="true" android:permission="android.permission.BIND_NFC_SERVICE">
      <intent-filter><action android:name="android.nfc.cardemulation.action.HOST_APDU_SERVICE" /></intent-filter>
      <meta-data android:name="android.nfc.cardemulation.host_apdu_service" android:resource="@xml/identity_engagement" />
    </service>
  </application>
</manifest>
